@import 'tailwindcss';
@import 'tw-animate-css';
@config "./tailwind.config.js";

:root {
    /* Name: custom color palette
     Author: Ilias Ism
     URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(
        to top left,
        hsl(286, 100%, 56%),
        hsl(191, 100%, 55%)
    );

    --background: oklch(0.2206 0.0096 17.8998);
    --foreground: oklch(0.9182 0.0115 308.3209);
    --card: oklch(0.245 0.0077 17.6897);
    --card-foreground: oklch(0.9164 0.0093 341.8183);
    --popover: oklch(0.2209 0.0157 340.5715);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.5028 0.1666 20.4668);
    --primary-foreground: oklch(0.8995 0.0126 301.2683);
    --secondary: oklch(0.3201 0.0145 17.9368);
    --secondary-foreground: oklch(0.8966 0.0229 353.191);
    --muted: oklch(0.2805 0.0105 17.7925);
    --muted-foreground: oklch(0.8676 0.0146 308.2733);
    --accent: oklch(0.4031 0.0263 18.3028);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.2877 0.0573 21.2644);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3197 0.019 18.1951);
    --input: oklch(0.3036 0.0087 17.6439);
    --ring: oklch(0.3981 0.131 25.4322);
    --chart-1: oklch(0.5738 0.0919 352.1281);
    --chart-2: oklch(0.6368 0.1043 309.3514);
    --chart-3: oklch(0.7205 0.0859 65.7519);
    --chart-4: oklch(0.6906 0.1075 314.2548);
    --chart-5: oklch(0.6448 0.1184 359.6652);
    --sidebar: oklch(0.2227 0.0133 331.6032);
    --sidebar-foreground: oklch(0.9346 0.0092 341.8125);
    --sidebar-primary: oklch(0.5518 0.1306 267.2352);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.2481 0.0175 338.6309);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0 0 0);
    --sidebar-ring: oklch(0.6079 0.1338 353.3062);
    --font-sans: Open Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
    --radius: 0.7rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-ring: var(--ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
